In [1]:
import pandas as pd
import  matplotlib.pyplot as plt 
import os, sys
sys.path.append("../")
# sys.path.append(os.path.abspath(os.path.join("../data")))

Data sourced from https://open-traffic.epfl.ch/index.php/downloads/#1599047632394-7ca81bff-5221 


### `Data Description`:
Each.csv file has the following:

- Each row represents the data of a single vehicle
- The first 4 columns include information about the trajectory
    - track_id: unique trackID,  
    - type: type of vehicle,
    - traveled_d: distance traveled in meters,
    - avg_speed: average speed of the vehicle in km/h
    
- The next columns contain information at specific time, repeated every 6 columns in this order
    - lat: latitude, at time column i+5
    - lon: logitude, at time column i+4
    - speed:  Speed is in km/h, at time column i+3
    - lon_acc: Longitudinal Acceleration in m/sec2, at time column i+2 
    - lat_acc: Lateral Acceleration in m/sec2, at time column i+1
    - time: time in seconds

In [2]:
# load data
data= pd.read_csv("../data/20181024_d1_0830_0900.csv", sep=",")
data.head(10)

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...
5  6; Medium Vehicle; 159.97; 17.451502; 37.97815...
6  7; Motorcycle; 153.91; 22.895895; 37.978145; 2...
7  8; Car; 158.21; 21.739084; 37.978230; 23.73708...
8  9; Car; 161.01; 21.154471; 37.978185; 23.73712...
9  10; Car; 159.53; 18.891989; 37.978190; 23.7370...

In [ ]:
data.__len__()

In [3]:
raw_data = data.copy()

In [4]:
raw_data.columns

Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')

We cannot read the data as a simple dataframe, because the rows don't contain equal numbers of columns.

In [12]:
data_file = "../data/20181024_d1_0830_0900.csv"
sep = ';'
number_of_columns = []

with open(data_file, 'r') as f:
    lines= f.readlines()
    for line in lines:
        # print(line.strip('\n').strip(" ").split(sep))
        column_count= len(line.strip('\n').strip(" ").split(sep))
        number_of_columns.append(column_count)

print(f"max number of columns: {max(number_of_columns)}\nmin number of columns: {min(number_of_columns)}" )

max number of columns: 122831
min number of columns: 10

In [20]:
columns=lines[0].strip('\n').replace(' ', '').split(';')
print(columns)

['track_id', 'type', 'traveled_d', 'avg_speed', 'lat', 'lon', 'speed', 'lon_acc', 'lat_acc', 'time']

It makes sense (in a relational database) to split this data into two tables:

- `vehicles`: contains a unique row for each tack. contains unique values of first 4 columns (track_id, type, traveled_d, avg_speed)

- `trajectories`: contains information of tracks at various timestamps, identified by a unique combination of track_id + time.

In [22]:
col_vehicle = columns[:4]
col_trajectory = columns[:1] + columns[4:]