In [64]:
import pandas as pd
import  matplotlib.pyplot as plt 
import os, sys
sys.path.append("../")
sys.path.append("../scripts/")
# sys.path.append(os.path.abspath(os.path.join("../data")))
import matplotlib
matplotlib.style.use('fivethirtyeight')
%matplotlib inline

In [65]:
data=pd.read_csv('../data/get_it_done_2019_requests_data.csv')

In [66]:
data.head()

,service_request_id,requested_datetime,case_age_days,service_name,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
0,2475207,2019-01-01T00:20:00,NaN,Other,TSW,NaN,Referred,32.710427,-117.145192,8.0,Mobile,Police CRO ? Central,19th and 20th island ave people firing gun sho...
1,2475208,2019-01-01T00:20:00,NaN,Other,TSW,NaN,Referred,32.702298,-117.092751,4.0,Mobile,Police CRO ? Southeastern,Ongoing loud fireworks in area near El Rey Tra...
2,2475209,2019-01-01T00:21:00,15.0,Litter,ESD Complaint/Report,2019-01-15T13:21:00,Closed,32.719797,-117.060215,4.0,Mobile,NaN,3 bags of garbage and one box
3,2475210,2019-01-01T01:06:00,41.0,Street Sweeping,TSW,NaN,In Process,32.702164,-117.051741,4.0,Web,NaN,North side of Skyline Drive from Cielo to Wood...
4,2475211,2019-01-01T01:12:00,18.0,Engineering - Traffic Calming/Safety Features,Traffic Engineering,2019-01-18T15:38:00,Closed,32.829445,-117.279999,1.0,Mobile,NaN,"On December 13, 2018, this delivery truck back..."

In [67]:
data.dtypes

service_request_id       int64
requested_datetime      object
case_age_days          float64
service_name            object
case_record_type        object
updated_datetime        object
status                  object
lat                    float64
long                   float64
district               float64
case_origin             object
referred_department     object
public_description      object
dtype: object

In [68]:
# change datatypes to desired ones
data['requested_datetime']= pd.to_datetime(data["requested_datetime"],format='%Y-%m-%d')  
data['updated_datetime']= pd.to_datetime(data["updated_datetime"],format='%Y-%m-%d')

In [69]:
data.dtypes

service_request_id              int64
requested_datetime     datetime64[ns]
case_age_days                 float64
service_name                   object
case_record_type               object
updated_datetime       datetime64[ns]
status                         object
lat                           float64
long                          float64
district                      float64
case_origin                    object
referred_department            object
public_description             object
dtype: object

In [70]:
data.shape

(26038, 13)

In [71]:
data.head()

,service_request_id,requested_datetime,case_age_days,service_name,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
0,2475207,2019-01-01 00:20:00,NaN,Other,TSW,NaT,Referred,32.710427,-117.145192,8.0,Mobile,Police CRO ? Central,19th and 20th island ave people firing gun sho...
1,2475208,2019-01-01 00:20:00,NaN,Other,TSW,NaT,Referred,32.702298,-117.092751,4.0,Mobile,Police CRO ? Southeastern,Ongoing loud fireworks in area near El Rey Tra...
2,2475209,2019-01-01 00:21:00,15.0,Litter,ESD Complaint/Report,2019-01-15 13:21:00,Closed,32.719797,-117.060215,4.0,Mobile,NaN,3 bags of garbage and one box
3,2475210,2019-01-01 01:06:00,41.0,Street Sweeping,TSW,NaT,In Process,32.702164,-117.051741,4.0,Web,NaN,North side of Skyline Drive from Cielo to Wood...
4,2475211,2019-01-01 01:12:00,18.0,Engineering - Traffic Calming/Safety Features,Traffic Engineering,2019-01-18 15:38:00,Closed,32.829445,-117.279999,1.0,Mobile,NaN,"On December 13, 2018, this delivery truck back..."

In [72]:
nuls=data.isnull().sum()
# type(nuls)
dfnuls = nuls.to_frame()
dfnuls["nul_perc_%"]= round(dfnuls/ data.shape[0],2)
dfnuls
# develop a process of dropping na above 6% => 0.06

                         0  nul_perc_%
service_request_id       0        0.00
requested_datetime       0        0.00
case_age_days         2326        0.09
service_name           439        0.02
case_record_type         0        0.00
updated_datetime     12932        0.50
status                   0        0.00
lat                      0        0.00
long                     0        0.00
district               290        0.01
case_origin             21        0.00
referred_department  23687        0.91
public_description    4312        0.17

In [73]:
df= data.copy()

In [74]:
df["service_name"].value_counts()[:50]

72 Hour Violation                         3999
Pothole                                   3618
Graffiti Removal                          2959
Missed Collection                         1794
Illegal Dumping                           1789
Other                                     1096
Parking Zone Violation                    1068
Street Light Out                           901
Potential Missed Collection                662
Sidewalk Repair Issue                      625
Traffic Sign - Maintain                    512
Dead Animal                                394
Traffic Signal On Flash                    390
Tree/Limb Fallen/Hanging                   342
Homeless Encampment                        339
Traffic Signal Timing Issue                338
Traffic Signal Light Out                   311
Oversized Vehicle Complaints               269
Drain Maintenance                          261
Graffiti Removal - Code Enforcement        224
Street Sweeping                            223
Street Flooded                             187
Container Left Out                         170
Out Late                                   166
OTHER                                      163
Pavement Repair Issue                      161
Evaluate Tree for Removal/Root Prune       153
Evaluate for Resurfacing                   143
Paint Curb - Maintain                      126
Code Enforcement Quality of Life Issue     124
Palm Frond Cleanup                         108
Other Right-of-Way Maintenance              95
Tree Trimming Contract                      94
Trim Tree for Peds/Vehicle Clearance        90
Street Light Knock Over/Damage              85
Damaged Curb                                79
Vegetation Encroachment                     77
Litter                                      76
Paint Striping - Maintain                   69
Waste on Private Property                   67
Traffic Signal Knock Over/Damage            66
Illegal Dumping from Vehicle                66
Shopping Cart                               58
Engineering - Curb Evaluation               57
Guardrails/Barrier Metal/Wooden             53
Traffic Signal Head Turned                  51
Scavenging                                  49
Pavement Surface Flow Issue                 48
Street Light on During Day                  42
Remove/Spray Weeds                          37
Name: service_name, dtype: int64

In [75]:
df.case_age_days.mean()

9.754554655870445

In [76]:
df["referred_department"].value_counts()

Police - Active Homeless Encampments           417
Park and Recreation                            350
Water Repair (PUD)                             196
Caltrans San Diego                             181
Graffiti ? ATT Telephone Booths / Cable Box    161
Graffiti ? SDGE Poles and Boxes                148
Police CRO ? Central                            84
appropriate department or agency                79
Police CRO ? Mid-City                           72
Police CRO ? Western                            69
TSW Sanitation (Human Excrement)                53
Police CRO ? Northern                           52
SDG&E                                           50
Field Engineering                               48
Police CRO ? Eastern                            43
Police CRO ? Southeastern                       34
Metropolitan Transit System                     32
Graffiti ? Cox Communications                   28
AT&T Fix It                                     27
PW Facilities Maintenance                       24
Private Contractor                              24
Graffiti ? Waste Management                     18
San Diego Unified School District               17
Humane Society                                  17
ADA compliance                                  16
Graffiti ? US Postal Services                   15
Police CRO ? Northeastern                       12
Police CRO ? Southern                           12
Risk Management                                 12
Fire Department                                 10
Port of San Diego                                7
Downtown Clean & Safe                            7
Police CRO ? Northwestern                        6
Water Waste Complaints (PUD)                     6
Graffiti ? SDMTS                                 4
SDSU Campus - Facilities Services                3
Tree Permits (DSD)                               3
Vector Control Program                           2
Graffiti ? Billboards                            2
Graffiti ? Allied Waste / Republic Services      2
Time Warner Cable - Spectrum                     2
SDG&E ? Street Lights                            2
PARK & REC                                       1
Hazardous Materials - County of San Diego        1
Special Events                                   1
Graffiti ? EDCO Disposal                         1
Name: referred_department, dtype: int64

In [77]:
# check where the df["service_name"] is pathohole
df_pathohole=df[df["service_name"] =="Pothole" ]
df_pathohole.head()

,service_request_id,requested_datetime,case_age_days,service_name,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
11,2475218,2019-01-01 07:22:00,40.0,Pothole,TSW,NaT,In Process,32.748422,-117.155704,3.0,Mobile,NaN,Large potholes
12,2475219,2019-01-01 07:22:00,1.0,Pothole,TSW,2019-01-02 16:19:00,Closed,32.748968,-117.156339,3.0,Mobile,NaN,Large 3' X 3' section of street damaged and si...
18,2475226,2019-01-01 08:31:00,1.0,Pothole,TSW,2019-01-02 15:41:00,Closed,32.832364,-117.186695,6.0,Web,NaN,"2 minor potholes are now forming, but the rest..."
55,2475265,2019-01-01 10:38:00,5.0,Pothole,TSW,2019-01-06 13:44:00,Closed,33.002756,-117.075232,5.0,Web,NaN,Large Pothole
65,2475276,2019-01-01 11:04:00,1.0,Pothole,TSW,2019-01-02 15:55:00,Closed,32.769053,-117.069074,9.0,Mobile,NaN,College Ave was never properly fixed by contra...

In [78]:
df_pathohole.isnull().sum()

service_request_id        0
requested_datetime        0
case_age_days            83
service_name              0
case_record_type          0
updated_datetime       2312
status                    0
lat                       0
long                      0
district                  2
case_origin               0
referred_department    3529
public_description      275
dtype: int64

In [79]:
df_pathohole.status.value_counts()

In Process    2223
Closed        1306
Referred        83
New              6
Name: status, dtype: int64

In [80]:
InProcess_df=df_pathohole[df_pathohole['status'] == "In Process"]
InProcess_df.case_age_days.min()

0.0

In [81]:
InProcess_df.shape

(2223, 13)

In [82]:
InProcess_df_mean=InProcess_df[InProcess_df["case_age_days"] > InProcess_df["case_age_days"].mean()]
InProcess_df_mean

,service_request_id,requested_datetime,case_age_days,service_name,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
11,2475218,2019-01-01 07:22:00,40.0,Pothole,TSW,NaT,In Process,32.748422,-117.155704,3.0,Mobile,NaN,Large potholes
176,2475390,2019-01-01 15:27:00,40.0,Pothole,TSW,NaT,In Process,32.893741,-117.133797,6.0,Web,NaN,Severe road damage from Miramar Rd to Flander ...
201,2475416,2019-01-01 16:13:00,40.0,Pothole,TSW,NaT,In Process,32.913192,-117.138493,6.0,Mobile,NaN,Large pithole needs to be repair asap in the c...
525,2475852,2019-01-02 11:55:00,39.0,Pothole,TSW,NaT,In Process,32.729099,-117.208905,2.0,Web,NaN,ALLIGATORING ON ROADWAY WITH MANY DEEP POTHOLE...
548,2475884,2019-01-02 12:24:00,39.0,Pothole,TSW,NaT,In Process,32.808190,-117.072247,7.0,Web,NaN,Street sweeping needed on Mission Gorge Road w...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19258,2498805,2019-01-31 20:25:00,10.0,Pothole,TSW,NaT,In Process,32.751010,-117.242310,2.0,Mobile,NaN,Pothole near centerline
19261,2498808,2019-01-31 20:42:00,10.0,Pothole,TSW,NaT,In Process,32.759683,-117.064492,9.0,Phone,NaN,NaN
19264,2498811,2019-01-31 20:46:00,10.0,Pothole,TSW,NaT,In Process,32.764576,-117.197708,2.0,Web,NaN,Pothole did serious damage to my tire and if I...
19272,2498819,2019-01-31 21:27:00,10.0,Pothole,TSW,NaT,In Process,32.696729,-117.027288,4.0,Web,NaN,There?s a big pothole it messed up my tire on...
19277,2498824,2019-01-31 23:27:00,10.0,Pothole,TSW,NaT,In Process,32.759685,-117.115514,3.0,Web,NaN,The entire back alley of 4532 36th Street is d...

In [83]:
InProcess_df_mean.isnull().sum()

service_request_id       0
requested_datetime       0
case_age_days            0
service_name             0
case_record_type         0
updated_datetime       890
status                   0
lat                      0
long                     0
district                 1
case_origin              0
referred_department    889
public_description      69
dtype: int64

In [84]:
InProcess_df_mean.to_csv("../data/InProcess_df_mean.csv", index=False)

In [85]:
df_pathohole.case_age_days.value_counts()

3.0     357
5.0     354
4.0     296
2.0     272
6.0     242
1.0     187
0.0     158
7.0     156
8.0     145
9.0     136
10.0    124
11.0    122
12.0     95
15.0     91
13.0     88
17.0     84
18.0     76
16.0     66
14.0     63
23.0     55
19.0     52
24.0     50
25.0     48
20.0     39
22.0     39
26.0     25
21.0     23
30.0     18
27.0     11
31.0     10
28.0     10
33.0      9
36.0      8
34.0      7
35.0      4
29.0      3
39.0      3
40.0      3
37.0      2
38.0      2
32.0      2
Name: case_age_days, dtype: int64

In [86]:
df.groupby(["service_name"]).count().sort_values(by="status", ascending=False)

,service_request_id,requested_datetime,case_age_days,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
service_name,,,,,,,,,,,,
72 Hour Violation,3999,3999,3998,3999,2729,3999,3999,3999,3929,3999,9,3676
Pothole,3618,3618,3535,3618,1306,3618,3618,3618,3616,3618,89,3343
Graffiti Removal,2959,2959,2384,2959,1251,2959,2959,2959,2957,2959,550,1158
Missed Collection,1794,1794,1793,1794,1643,1794,1794,1794,1708,1794,1,1512
Illegal Dumping,1789,1789,1681,1789,774,1789,1789,1789,1773,1789,111,1607
...,...,...,...,...,...,...,...,...,...,...,...,...
DEBRIS FENCE BROKEN,1,1,0,1,0,1,1,1,1,1,1,1
DEBRIS FENCE,1,1,1,1,0,1,1,1,1,1,0,1
Quality of Life Issues,1,1,0,1,0,1,1,1,1,1,1,1
ROW MAINTENANCE SWEEPING,1,1,1,1,0,1,1,1,1,1,0,1
Bridge/Railings/Stairs Repair,1,1,1,1,0,1,1,1,1,1,0,1

In [91]:
df_text=df[["service_request_id",'service_name','public_description']]

In [94]:
# get illigal dumping data
df_text_dumping=df_text[df_text.service_name == 'Illegal Dumping']

In [95]:
df_text_dumping.to_csv('../data/df_text_dumping.csv', index=False)